@charset "UTF-8";

/* common.css */
* {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Nanum Gothic', sans-serif;
	width: 900px;
	margin: auto;
}

section {
	min-height: 500px;
	display: flex;
	align-items: center;
	justify-content: center;
}

table {
	border-collapse: collapse;
	border: 1px solid black;
	margin: 50px auto;
}

table tr td {
	padding: 5px;
}

table tr td:first-child {
	text-align: left;
}

table tr td:last-child {
	text-align: center;
}

table tr td,
table tr th {
	border: 1px solid #ccc;
	padding: 10px;
}