@charset "UTF-8";

table.list {
	border-collapse: collapse;
	border: 1px solid black;
	margin: 50px auto;
}

table tr td,
table tr th {
	border: 1px solid #ccc;
	padding: 10px;
}

table.list tr td:nth-child(2) {
	text-align: left;
	padding-left: 15px;
}

table.list tr td textarea {
	width: 680px;
}

.pageWrap {
	text-align: center;
	margin: 20px auto;
}